body {
  margin: -15px;
  padding: 0;
  font-family: 'Roboto', GillSans, Calibri, Trebuchet, sans-serif;
  color: rgba(0, 0, 0, 0.87); }

#full-page-wrapper {
  width: 100%;
  overflow-x: hidden; }

.App {
  text-align: center; }

.headings {
  color: #0067B1; }

.featurette .sub-headings {
  color: #0067B1; }

.primary-text {
  color: darkgrey; }

.main-panels {
  min-height: 400px; }

.panels {
  background-color: rgba(248, 249, 250, 0.5);
  padding: 50px 80px; }

.services-row .services-header {
  background-image: url("https://tbcdn.talentbrew.com/company/641/FULL_v2_0/img/banner-dental-support.jpg");
  height: 350px;
  width: 100%;
  color: white;
  padding-top: 10%; }

.services-row .services-header-right {
  padding: 50px 15px 30px; }

.services-row .service-cards-row {
  position: relative;
  bottom: 50px;
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.45); }

.services-row .services {
  padding: 30px 15px;
  margin: 5px; }

.services-row .card {
  border: 0; }

.services-row .sub-headings {
  color: #0067B1; }

.local {
  background-color: #eeeeee;
  padding: 50px 15px; }
  .local .contact-pane {
    padding: 0 30px;
    text-align: center; }

.carousel .carousel-caption {
  background-color: rgba(28, 97, 152, 0.9);
  padding: 30px 80px;
  position: relative;
  bottom: 50px;
  left: 0;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4); }

.details-row {
  position: relative;
  bottom: 100px; }
  .details-row .details-col {
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4); }

.navigation {
  background-color: rgba(28, 97, 152, 0.8);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.58); }

.btn {
  border-radius: 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }

.list-group-item {
  border: 0; }
  .list-group-item h5 {
    background-color: rgba(28, 97, 152, 0.8);
    text-align: left;
    padding: 15px;
    color: white; }

.modal-content {
  border-radius: 0;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5); }
  .modal-content .modal-header {
    background-color: rgba(28, 97, 152, 0.8);
    color: white; }
  .modal-content .modal-body {
    padding: 0; }

.rounded-circle {
  margin: 15px; }

.card {
  padding: 0;
  margin: 15px;
  border-radius: 0; }
  .card img {
    border-radius: 0; }

/*LandingPage*/
.staff-background {
  background-image: url("../images/pinestdentalstaff-1.jpg") !important;
  background-size: cover !important;
  background-repeat: none !important;
  background-position: top !important;
  min-height: 950px; }

.top-nav {
  background-color: #2185d0 !important; }

.heading-text {
  position: absolute !important;
  bottom: 0 !important;
  right: 30% !important;
  width: 100% !important;
  background-color: #2185d0; }
