body {
  margin: -15px;
  padding: 0;
  font-family: 'Roboto', GillSans, Calibri, Trebuchet, sans-serif;
  color: rgba(0, 0, 0, .87)
}



.App {
  text-align: center;
}
.headings{
  color: #0067B1
}
.featurette{
  .sub-headings{
    color: #0067B1;
  }
}

.primary-text{
  color: darkgrey;
}



.space{
  //margin: 30px 0 30px 0;
}

.main-panels{
    min-height: 400px;
}

.panels{
  background-color: rgba(248, 249, 250, 0.5);
  padding: 50px 80px 50px 80px;
  //height: 98%;
}

.doctor{
  background-image: linear-gradient(rgba(225, 225, 225, 0.2), rgba(225, 225, 225, 0.5)) ,url("../images/dentist.jpg");
  background-size: cover;
  background-position: center;
}
.services-row{
  //position: relative;
  //bottom: 20px;
  .services-header{
    background-image: url('https://tbcdn.talentbrew.com/company/641/FULL_v2_0/img/banner-dental-support.jpg');
    height: 350px;
    width: 100%;
    color: white;
    padding-top: 10%;
  }
  .services-header-right{
    padding: 50px 15px 30px 15px;
  }
  .service-cards-row{
    position: relative;
    bottom: 50px;
    background-color: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.45);
  }
  .services-header{
    background-image: url("../images/dentist.jpg");
    background-size: cover;
  }

  .services{
    padding: 30px 15px 30px 15px;
    margin: 5px;
    //box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.45);
    //background-color: rgba(28, 97, 152, 0.3);
  }

  .services-list{
    background-image: linear-gradient(rgba(225, 225, 225, 0.2), rgba(225, 225, 225, 0.5)) ,url("../images/services.png");
    background-size: cover;
    background-position: left;
  }
  .card{
    //box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    border: 0px;
  }
  .sub-headings{
      color: #0067B1;
    }
}

.office{
  background-image: linear-gradient(rgba(225, 225, 225, 0.2), rgba(225, 225, 225, 0.5)) ,url("../images/office2.jpg");
  background-size: cover;
  background-position: left;
}

.local{
  background-color: rgb(238, 238, 238);
  padding: 50px 15px 50px 15px;
  .contact-pane{
    padding: 0 30px 0 30px;
    text-align: center;
  }
}

.carousel{
  //padding-bottom: 50px;
  .carousel-caption{
    background-color: rgba(28, 97, 152, 0.9);
    padding: 30px 80px 30px 80px;
    position: relative;
    bottom: 50px;
    left: 0px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  }
}

.details-row{
  position: relative;
  bottom: 100px;
  .details-col{
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  }
}

.navigation{
  background-color: rgba(28, 97, 152, 0.8);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.58);
  //border-bottom: 10px solid rgba(255, 255, 255, 0.60);
}

.btn{
  border-radius: 0px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

h1{
  //text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}


.list-group-item {
  border: 0px;
  h5{
    background-color: rgba(28, 97, 152, 0.8);
  text-align: left;
  padding: 15px;
  color: white;
  }
}

.modal-content{
  border-radius: 0px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  .modal-header{
    background-color: rgba(28, 97, 152, 0.8);
    color: white;
  }
  .modal-body{
    padding: 0px;
  }
}

.rounded-circle{
  margin: 15px;
}

.card{
  padding: 0px;
  margin: 15px;
  border-radius: 0px;
  img{
    border-radius: 0px;
  }
}
